body{
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h1{
    margin-top: 50px;
    margin-left: 350px;
}
h2{
    margin-left: 600px;
}

 form {border: 3px solid #f1f1f1;
width: 60%;
height: 60%;
margin-left: 20%;
} 

input[type=text], input[type=password] {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 5%;
  margin-left: 25%;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  margin-left: 30%;
}

button:hover {
  opacity: 0.8;
}




img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 5px;
  
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  
  
}




.disabledList{
    
  pointer-events:none; 
  opacity:0.6;        

}

#todoList{
  /* border: 10px solid rgb(84, 57, 206); */
  border-radius: 1rem;
}

#mainnavbar{
  background: #1005ac;
}
body{
  background-color:#104391;

}
#welcomeText{
  margin-top:60px;
  text-align: center;
}